body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rating-text{
  color: aqua;
}
.rating{
  color: purple;
}
 
.img-size{
  height: 320px;
  width: 320px;
}
 .row-name{
  width: 200px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .pro-rating{
  justify-content: space-between;
  align-items: space-between;
  background-color: red;
  background-color: red;
 
 }